@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
}



<h2>Jogos disponíveis para locação</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 40%">Jogo</th>            
            <th style="width: 30%">Categoria</th>
            <th style="width: 22%">Preço</th>
            <th style="width: 8%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jogo in @Model.Jogos)
        {
            <tr>
                <td>@jogo.Nome</td>
                <td>@jogo.Categoria</td>
                <td>@jogo.Preco.ToString("c")</td>
                <td> <button class="btn btn-info" onclick="location.href='/Jogo/DetalhesJogo/' + @jogo.Id">Detalhes</button> </td>
            </tr>        
        }
    </tbody>
</table>
