@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
}

<style>
    .header{
        margin-bottom: 70px;
    }

    .img-detalhes:hover {
        opacity: 0.2;
    }

    .img-editar {
        margin-left: 7px;
    }

     .img-editar:hover {
         opacity: 0.2;
    }

     .btn-cadastrar{
         margin-top: 20px;
         float:right;
         display:inline-block;
     }
</style>

<div class="header">
    <h2 style="float: left">Jogos disponíveis para locação</h2>

    <button class="btn btn-default btn-cadastrar" onclick="location.href='/Jogo/Manter'">Cadastrar jogo</button>
</div>

@if (TempData["Status"] != null)
{
    if ((bool)TempData["Status"])
    {
        <div style="margin-top: 10px;" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Sucesso!</strong> @TempData["Mensagem"]
        </div>
    }
}

@if (Model.EncontrouResultados)
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 40%">Jogo</th>            
                <th style="width: 33%">Categoria</th>
                <th style="width: 17%">Preço</th>
                <th style="width: 10%">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jogo in @Model.Jogos)
            { 

                <tr>                   
                    <td>@Html.Partial("_ImagemSelo", jogo.Selo) @jogo.Nome</td>
                    <td>@jogo.Categoria</td>
                    <td>@jogo.Preco.ToString("c")</td>
                    <td> 
                        <a href="/Jogo/DetalhesJogo/@jogo.Id"> <img class="img-detalhes" src="~/Content/Images/Detalhes.png" /></a>                   
                        <a href="/Jogo/Manter/@jogo.Id"> <img class="img-editar" src="~/Content/Images/Editar.png" /></a>
                    </td>
                </tr>        
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <strong>
                    Total de jogos: @Model.QuantidadeDeJogos<br />
                    Jogo mais caro: @Model.JogoMaisCaro<br />
                    Jogo mais barato: @Model.JogoMaisBarato<br />
                    Preço médio: R$ @Math.Round(@Model.PrecoMedio, 2)<br />
                    </strong>
                </td>
            </tr>
        </tfoot>
    </table>

}
else
{
    <h3 style="margin-right: 60%;">Nenhum jogo encontrado</h3>
}