@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
    ViewBag.UsuarioLogado = Session["USUARIO_LOGADO"];
}

<style>

    .header{
        margin-bottom: 70px;
    }

    .opcoes:hover {
        opacity: 0.2;
    }

    .img-editar {
        margin-left: 7px;
        margin-bottom: 2px;
    }

    .img-video {
        margin-left: 7px;
    }

     .btn-cadastrar{
         margin-top: 20px;
         float:right;
         display:inline-block;
     }
</style>

<div class="header">
    <h2 style="float: left">Jogos disponíveis para locação</h2>
    @if (ViewBag.UsuarioLogado != null)
    {
        if (ViewBag.UsuarioLogado.PodeCadastrarEEditar)
        {
        <button class="btn btn-default btn-cadastrar" onclick="location.href='/Jogo/Manter'">Cadastrar jogo</button>
        }
    }
</div>

@if (TempData["Status"] != null)
{
    if ((bool)TempData["Status"])
    {
        <div style="margin-top: 10px;" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Sucesso!</strong> @TempData["Mensagem"]
        </div>
    }
}

@if (Model.EncontrouResultados)
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 45%">Jogo</th>            
                <th style="width: 43%">Categoria</th>
                <th style="width: 12%">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jogo in @Model.Jogos)
            { 

                <tr>                   
                    <td>@Html.Partial("_ImagemSelo", jogo.Selo) @jogo.Nome</td>
                    <td>@jogo.Categoria</td>
                    <td> 
                        <a href="/Jogo/DetalhesJogo/@jogo.Id"> <img class="opcoes img-detalhes" src="~/Content/Images/Detalhes.png" /></a>
                        
                            @if (ViewBag.UsuarioLogado != null)
                            {
                                if (ViewBag.UsuarioLogado.PodeCadastrarEEditar)
                                {
                                    <a href="/Jogo/Manter/@jogo.Id"> <img class="opcoes img-editar" src="~/Content/Images/Editar.png" /></a>
                                }
                            }
                        <button onclick="location.href = '/Locacao/Index/@jogo.Id'"class="btn btn-sm btn-info">Locar</button>
                    </td>
                </tr>        
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <strong>
                    Total de jogos: @Model.QuantidadeDeJogos<br />
                    Jogo mais caro: @Model.JogoMaisCaro<br />
                    Jogo mais barato: @Model.JogoMaisBarato<br />
                    Preço médio: R$ @Math.Round(@Model.PrecoMedio, 2)<br />
                    </strong>
                </td>
            </tr>
        </tfoot>
    </table>


}
else
{
    <h3 style="margin-right: 60%;">Nenhum jogo encontrado</h3>
}